@charset "UTF-8";
@import "./util.scss";

// style example ==================
.layer__close {
  position: absolute;
  top: 1vw;
  right: 2vw;
  color: #aaa;
  font-size: 120%;
}

.layer__example {
  width: 100%;
  height: 100%;

  .layer__content {
    position: relative;
    @extend %flexbox-centering;
    width: 80vw;
    height: 90vw;
    @extend %mCenter;
    margin-top: 20vh;
    box-shadow: 0 0 10px #cdcdcd;
    background: #fff;
    color: #000;
  }

  .btn__confirm {
    @extend %posCenter;
    bottom: 2%;
  }
}

.page {
  background: #fff;
}

.page-flex {
  @extend %flexbox-centering;
  width: 100vw;
  height: 100vh;
}

.logo {
  @include size(196, 96);
}

.btn {
  $btnHeight: rem(60);
  width: rem(200);
  height: $btnHeight;
  color: #000;
  border: 1px solid #cdcdcd;
  border-radius: rem(60);
  text-align: center;
  line-height: $btnHeight;
}

.btn__next {
  @extend %posCenter;
  bottom: 10vh;
}

.btn__layer-example {
  position: absolute;
  top: 2vh;
  right: 2vh;
  font-size: 120%;
  font-weight: bolder;
  text-decoration: underline;
}


.flex {
  @extend %flexbox-centering;
  //width: 100vw;
  //height: 100vh;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.img-box {
  //position: absolute;
  //left: 0;
  //top: 0;
  @include size(640 * 0.8, 1008 * 0.8);
}

.cover {
  //position: absolute;
  //top: 0;
  //left: 0;
  @include size(640, 1008);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.page3 {
  background: #000;
}

.snapshot-img {
  position: relative;
  @include size(640 * 0.8, 1008 * 0.8);
}


.btn-create {
  position: absolute;
  left: 50%;
  bottom: 10vh;
  z-index: 2;
}

#canvas {
  //width: 100%;
  height: 100%;
}
// style example ===============
