<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body>
<div id="root">
  <div>
    <button id="copy-btn">copy to clipboard</button>
  </div>
  <div>
    <button id="mutation-btn">mutation document</button>
  </div>
  <div>
    <button id="stop-mutation">stop-mutation</button>
  </div>
  <p id="mutation"></p>

  <div>
    <button id="scroll-into-view">scroll-into-view</button>
  </div>
  <div style="height: 1200px; background: blue;"></div>
  <div id="scroll-into-view-text">
    <p>scroll into view text</p>
  </div>
  <div style="height: 500px; background: blue;"></div>
  <div>
    <div id="scroll-top">top</div>
  </div>
</div>
<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>
