@charset "UTF-8";
@import "./util.scss";

.back-to-home {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 99;
  text-decoration: underline;
}

.page {
  @include flexbox-centering;
  width: 100vw;
  height: 100vh;
  background: lightyellow;
  color: #333;
}

.app__header {
  position: fixed;
  top: 4vh;
  left: 4vw;
  z-index: 99999;
  font-size: 24px;
  font-weight: bold;
  //color: #fff;

  & a {
    color: inherit;
  }
}

.page-index {
  flex-direction: column;
}
