@charset "UTF-8";
@import "./util.scss";

.back-to-home {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 99;
  text-decoration: underline;
}

.page {
  @include flexbox-centering;
  width: 100vw;
  height: 100vh;
  background: lightyellow;
  color: #333;
}

