$baseFontSize: 75px;
$windowWidth: 750px;
$windowHeight: 1206px;

@function rem ($px) {
  @return $px * 1px / $baseFontSize * 1rem;
}

@function pxToVw ($width) {
  @return $width * 1px / $windowWidth * 100vw;
}

@function pxToVh ($height) {
  @return $height * 1px / $windowHeight * 100vh;
}

@mixin size($width, $height) {
  width: rem($width);
  height: rem($height);
}

// flexbox-centering
@mixin flexbox-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

// grid centering
@mixin grid-centering {
  display: grid;
  justify-content: center;
  align-items: center;
}

// truncate text 文字超出隐藏，显示为...
@mixin truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120px;
}

// 圆角
@mixin circle {
  border-radius: 50%;
}

%mCenter {
  margin-left: auto;
  margin-right: auto;
}

%posCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

%bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%bg-contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}